.calculator {
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 100%;
  margin-top: 100px;
}

.calc-header {
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex: 1;
  margin-bottom: 15px;
}

.calc-footer {
  font-size: 1em;
  font-weight: lighter;
  width: 100%;
  display: flex;
  flex: 1;
  margin-top: 15px;
  margin-bottom: 100px;
}

.calc-wrapper {
  width: 400px;
  height: 600px;
}

.row {
  display: flex;
  width: 100%;
}
